.container-fluid {
  max-width: 1180px;
}

/* Set gray background color and 100% height. Fixed sidebar */
.sidenav {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 250px;
    min-height: 150vh;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* Margin for side bar */
.main-content {
  margin-left: 250px;
}

/* Text and backgrounds */
body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #fff;
    overflow-y: scroll; /* Show vertical scrollbar */
}

.about-well {
    font-size: 18px;
    padding: 19px 19px 2px 19px;
    background-color: #f9f9f9;
}

.well-head {
  margin-top: 0px;
  margin-bottom: 10px;
}

.text-uppercase {
  font-size: 14pt;
}

.navbar-nav>li.active>a, .navbar-nav>li.active>a:focus, .navbar-nav>li.active>a:hover {
  color: #f3f3f3!important;
  background-color: #00356b!important;
  text-decoration: none;
  border-radius: 2px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #f3f3f3;
    background-color: #00356b;
    text-decoration: none;
}

/* Name in top left */
.navbar-brand {
  color: #636363!important;
  font-size: 20px;
}

.sidebar-link {
    color: #6f6f6f!important;
    text-decoration: none;
    font-weight: 400;
}

/* Panel colors */
.panel-default {
  border-color: #ddd;
  margin-top: 2rem;
}

.panel-default > .panel-heading {
  color: #333333;
  background-color: #f9f9f9;
  border-color: #ddd;
}

.panel-research {
  background-color: #f9f9f9;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

/* Research well spacing */
.panel-heading {
  padding: 2px 5px 8px 15px;
}

/* Headers */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

h3 {
  margin-top: 0px;
}

/* Image on main page */
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 4px;
    margin: auto;
}

/* Nav-bar styling */
.navbar {
    margin-bottom: 0px;
    background-color: #fff;
    max-height: 40px;
    margin: 0 15px 0 15px;
}

nav li {
  float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav a {
  display: block;
  text-align: center;
  padding: 8px 8px;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

/* Link color */
a, a:hover, a:focus {
    color: #00356b;
}

.fa-2x {
  font-size: 1.7em !important;
}

/* Small screen over-rides */
@media screen and (max-width: 767px) {
  .img-responsive {padding: 0px 50px 0 50px; margin-bottom: 1em; margin-top: 2.75em;}
  .research-header {color: #403f3f; font-size: 1.3em;}
  .about-well {font-size: 16px;}
  .text-uppercase {font-size: 14px;}
  .navbar-brand {font-size: 20px; padding: 9px 0px !important;}
  .row.content {height: auto;}
  .main-content {margin-left: 0%;}
  .top-title {
    border-bottom: 0px solid #ccc;
    margin: 0 0 10px 0;
    padding: 20px 0 0px 0;
  }
}
